.register {
  flex-grow: 1;
  height: calc(100vh - 92px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register_title {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

.register .nickname {
  width: calc(100vh - 200px);
  height: 64px;

  padding: 16px;
  margin-top: 24px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_form .register_description {
  margin-top: 36px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  color: #303030;
}

.register_form .button,
.register_form .submit {
  margin-top: 80px;
  height: 52px;
  width: 180px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}